.bg-warning {
    font-family: 'Rubik', sans-serif;
}

#cont-2 {
    font-size: 1.5rem;
}

#intro {
    margin-top: 15%;
    font-weight: bold;
    border-bottom: 2px solid darkgoldenrod;
}

li {
    font-style: italic;
    font-weight: 200;
    list-style: square;
}

#skills {
    font-style: italic;
    font-weight: 200;
}

#html {
    word-spacing: 5.2rem;
}

#css {
    word-spacing: 5.9rem;
}

#js {
    word-spacing: 0.9rem;
}

#bs {
    word-spacing: 0.9rem;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.card.mx-3 {
    background-color: white;
}

#cont-4 {
    font-size: 1.2rem;
}

#contact a {
    text-decoration: none;
    color: darkgoldenrod;
}

#contact a:hover {
    text-decoration: underline;
    margin-left: 3px;
    color: black;
}
