.bg-warning {
    font-family: 'Rubik', sans-serif;
}

#intro {
    margin-top: 20%;
    font-size: 20px;
}

li {
    font-weight: bold;
    list-style: square;
}

a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
